:root {
  --body-color: #6a8b99;
  --white: white;
  --primary-color: #1f2944;
  --orange-color: #f6a800;
  --light-blue: #d4e2f6;
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body.page {
  background-color: var(--body-color);
  color: var(--primary-color);
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-kerning: none;
  line-height: 1.5;
  font-size: 14px;
}
body:not(.blog) #genesis-content p a,
body:not(.blog) #genesis-content ul li a {
  color: var(--orange-color);
  text-decoration: underline;
}

a {
  text-decoration: none;
  transition: 0.1s linear;
}
a:focus,
a:hover {
  color: #333;
  text-decoration: none;
}
p {
  margin: 0 0 28px;
  padding: 0;
  overflow-wrap: normal;
  word-break: normal;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  font-size: 1rem;
}
b,
strong {
  font-weight: 700;
}

/*Heading top*/
.site-header {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 89px;
}
.site-logo a img {
  height: 40%;
  width: auto;
  margin: 2% 40%;
}
.header-navigation-wrapper {
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 9998;
}
.menu-heading-menu-container {
  display: flex;
  text-align: left;
  flex-grow: 1;
  justify-content: flex-start;
}
#menu-heading-menu {
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}
.menu-item {
  display: inline-block;
}
.menu-item a {
  text-decoration: none;
  font-family: "Poppins", sans-serif !important;
  color: white;
  font-weight: 500;
  font-size: 1.33rem;
  padding: 15px 40px 15px 0;
}
.menu-item a:hover {
  color: var(--orange-color);
}
.menu-toggle {
  display: none;
  font-size: 1.6rem;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
  color: #223146;
}
.primary-menu li.top-menu-contact.menu-item {
  background-color: var(--orange-color);
  border-radius: 10px;
  padding: 10px 10px;
  margin-right: 20px;
}
.primary-menu li.top-menu-contact.menu-item a {
  color: var(--primary-color) !important;
  font-size: 1rem !important;
  padding: 15px 25px 15px 25px;
}

@media (max-width: 768px) {
  .site-logo img {
    width: 50%;
  }
  .primary-menu {
    color: var(--primary-color);
    display: none !important;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    right: 0;
    background: rgba(247, 243, 238);
    width: 100vw;
    z-index: 9999;
    gap: 0 !important;
    border: 1vw solid rgba(247, 243, 238);
  }
  .primary-menu.expanded {
    display: flex !important;
  }
  .menu-item a {
    padding: 0;
  }
  .primary-menu li {
    padding: 1.5vh 4vw;
    border-bottom: 0.5px solid #536884;
  }
  .primary-menu li:nth-child(4) {
    border-bottom: 0.5px solid rgba(247, 243, 238);
  }
  .menu-toggle {
    display: block;
  }
}

/*Homepage - Section 1 (Book)*/
.elementor div.slide-1 {
  background-color: var(--body-color);
  padding: 0;
}
.slide-1 .e-con-inner {
  margin: 0;
  padding: 3vh 4vw !important;
  max-width: 100% !important;
}
.slide-1 .e-con-inner .slide-1-column-1 {
  padding: 0 !important;
  margin-left: 0.2vw;
}
.slide-1-column-1 {
  width: 65% !important;
}
.slide-1-title h2 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
  font-size: 4.2rem;
  line-height: 4rem;
  margin-top: 17vh;
  order: 1;
}
.slide-1-column-1 .elementor-widget-container p {
  font-family: "Poppins", sans-serif !important;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0;
}
.slide-1-span-1 .elementor-widget-container p {
  font-family: "Poppins", sans-serif !important;
  color: var(--white);
  font-weight: 400;
  margin-top: 9vh;
}
.slide-1-span-2 .elementor-widget-container p {
  color: var(--primary-color);
  font-weight: 900;
  font-style: italic;
}
.slide-1 .e-con-inner .slide-1-column-2 {
  align-items: flex-start;
}
.slide-1-image .elementor-widget-container img {
}

@media (max-width: 1200px) {
  .slide-1-image .elementor-widget-container img {
    margin-bottom: 30px;
  }
}
@media (max-width: 800px) {
  .slide-1-title {
    text-align: center;
  }
  .slide-1 .e-con-inner {
    justify-content: center !important;
  }
  .slide-1 .e-con-inner .slide-1-column-1 {
    width: 100% !important;
    text-align: center;
  }
  .slide-1-title h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 600 !important;
    margin: 30px 20px 30px 20px;
  }
  .slide-1-column-1 .elementor-widget-container p {
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
  }
  .slide-1-span-1 .elementor-widget-container p {
    margin-top: 0;
  }
  .slide-1-span-2 .elementor-widget-container p {
    margin: 5px 0 10px 0;
  }
  .section-1-input {
    margin: 0 auto;
    width: 80%;
  }
  .slide-1 .e-con-inner .slide-1-column-2 {
    align-items: center;
  }
}
@media (max-width: 400px) {
  .slide-1-title h2 {
    font-size: 1.5rem;
    line-height: 1.3rem;
    font-weight: 500 !important;
    margin: 0 10px;
  }
  .slide-1-column-1 .elementor-widget-container p {
    font-size: 1rem;
    line-height: 1rem;
  }
  .slide-1-span-1 .elementor-widget-container p {
    margin-top: 10px;
  }
  .slide-1-span-2 .elementor-widget-container p {
    margin: 5px 0;
  }
  .slide-1-image .elementor-widget-container img {
    order: 2;
  }
}

/*Homepage - Section 2 (Brent)*/
.elementor div.slide-2 {
  background-color: var(--primary-color);
  padding: 0;
  box-sizing: border-box;
}
.elementor .slide-2 .e-con-inner {
  font-family: "Poppins", sans-serif !important;
  display: flex;
  padding: 0;
}
.slide-2 .e-con-inner .slide-2-column-1 {
  padding: 0;
  width: 47% !important;
  align-items: flex-end;
}
.slide-2 .e-con-inner .slide-2-column-2 {
  padding: 0;
  flex: 1;
  align-items: flex-start;
}
.elementor-element div.slide-2-title {
  font-family: "Poppins", sans-serif !important;
  color: white;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  padding-top: 8vh;
}
span.brent-name {
  color: var(--orange-color);
}
.elementor-element div.slide-2-subtitle {
  font-family: "Poppins", sans-serif !important;
  color: white;
  font-size: 1.3rem;
  font-style: italic;
  letter-spacing: 0.1rem;
  padding-top: 1vh;
}
.elementor-element div.slide-2-text {
  font-family: "Poppins", sans-serif !important;
  color: white;
  font-size: 1.3rem;
  width: 72%;
  line-height: 1.9rem;
  padding-top: 1.5vh;
}
.slide-2-img div img {
  max-width: 100%;
}

@media (max-width: 1200px) {
}
@media (max-width: 800px) {
  .slide-2 .e-con-inner {
    flex-direction: column !important;
    flex-wrap: wrap !important;
  }
  .slide-2 .e-con-inner .slide-2-column-1 {
    width: 100% !important;
    align-items: center;
    order: 2;
  }
  .slide-2-img div img {
    width: 50% !important;
  }
  .slide-2 .e-con-inner .slide-2-column-2 {
    width: 100% !important;
    align-items: flex-start;
    order: 1;
    padding: 0 40px 0 20px;
  }
  .elementor-element div.slide-2-text {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .elementor-element div.slide-2-title {
    font-size: 1.3rem;
  }
  .elementor-element div.slide-2-subtitle {
    font-size: 1.2rem;
  }
  .elementor-element div.slide-2-text {
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
  .slide-2-img div img {
    width: 70% !important;
  }
}

/*Homepage - Section 3 (Links)*/
.section-3 {
  background-color: var(--light-blue);
}
.section-3 .e-con-inner {
  max-width: 100% !important;
  padding-bottom: 5% !important;
}
.section-3-links-container {
  margin-top: 20px;
}
.section-3 .e-con-inner .section-3-column-1 {
  gap: 0 !important;
  margin-left: 4%;
  padding: 0;
  padding-right: 0;
}
.section-3 .e-con-inner .section-3-column-2 {
  gap: 0 !important;
  margin: 0 4% 0 2%;
  padding: 0;
}
.section-3-title {
  font-family: "Poppins", sans-serif !important;
  font-size: 1.4rem;
  color: var(--body-color) !important;
  border-bottom: 2px solid var(--body-color);
  padding-bottom: 2%;
  margin-top: 15% !important;
  letter-spacing: 0.05rem;
}
.section-3-title .elementor-widget-container p {
  margin: 0;
}
.section-3-link {
  display: block;
  text-decoration: none;
}
.section-3-link:hover .section-3-link-content {
  color: var(--body-color);
}
.section-3-link-content {
  font-family: "Poppins", sans-serif !important;
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: 2%;
}
.section-3-link-text {
  display: flex;
  flex-direction: column;
}
.section-3-link-type {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 4%;
  margin-top: 30px;
}
.section-3-link-title {
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 2rem;
  margin: 0;
}
.section-3-link-source {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
  padding-top: 1%;
}
.icon {
  width: 24px;
  height: 24px;
  fill: var(--primary-color);
}
@media (max-width: 1200px) {
}
@media (max-width: 800px) {
  .section-3 .e-con-inner {
    padding-bottom: 10% !important;
  }
  .section-3 .e-con-inner .section-3-column-1 {
    flex-wrap: wrap !important;
    margin: 0 10px;
  }
  .section-3 .e-con-inner .section-3-column-2 {
    flex-wrap: wrap !important;
    margin: 0 10px;
  }
  .section-3-link-content {
    margin: 0;
  }
  .section-3-title {
    margin: 40px 0 0 0 !important;
  }
}
@media (max-width: 400px) {
}

/*Book - Section 1 (Links)*/
.book-section-1-img {
  height: 100vh;
}
.book-section-1-img div img {
  width: 38vw;
  height: auto;
  z-index: 100;
  position: absolute;
  top: 1vh;
  right: 20vw;
}

/*Book - Section 2 (Links)*/
.book-section-2 {
  background-color: var(--primary-color);
}
.book-section-2-title div h2 {
  font-family: "Poppins", sans-serif !important;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.12rem;
  margin-top: 25vh;
}
.book-section-2-text div p {
  font-family: "Poppins", sans-serif !important;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.8rem;
  margin-top: 2vh;
  margin-bottom: 20vh;
}

/*Book - Section 3 (Links)*/
.book-section-3 {
  background-color: var(--white);
  padding: 0 !important;
  font-family: "Poppins", sans-serif !important;
}
.book-section-3 div.e-con-inner {
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
.book-section-3-column-1 {
  padding: 0 !important;
  margin: 0 !important;
}
.book-section-3-img {
  width: 100% !important;
  height: auto !important;
}
.book-section-3-img div img {
  width: 100% !important;
  height: auto !important;
}
.book-section-3-column-2 {
  background-color: var(--light-blue);
  padding: 0 !important;
  margin: 0;
  padding-left: 4vw !important;
}
.book-section-3-title div h2 {
  font-family: "Poppins", sans-serif !important;
  font-size: 2.5rem;
  font-weight: 1000;
  color: var(--primary-color) !important;
  margin-top: 20vh;
}
.book-section-3-text div p {
  color: var(--primary-color) !important;
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding-top: 4vh;
  padding-right: 5vw;
}

/*Brent Section 1*/
.brent-section-1 .e-con-inner {
  padding: 0 !important;
}
.brent-section-1-column-1,
.brent-section-1-column-2 {
  padding: 0 !important;
}
.brent-section-1-column-1 {
  width: 40% !important;
  align-self: flex-end !important;
}
.brent-section-1-column-2 {
  width: 70% !important;
  margin-left: 70px !important;
}
.brent-section-1-img div img {
  width: 120%;
}
.brent-section-1-title div h2 {
  font-family: "Poppins", sans-serif !important;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 40px;
}
.brent-section-1-text div p,
.brent-section-1-p div span {
  font-family: "Poppins", sans-serif !important;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.9rem;
}
.brent-section-1-text div p {
  margin-top: 5px;
}
.brent-section-1-p div span {
  margin-top: 30px;
}
.button-grid {
  padding: 0 !important;
  gap: 0 !important;
  margin-bottom: 70px !important;
  width: 80% !important;
}
.brent-section-1-button div div a span {
  gap: 0 !important;
}
.brent-section-1-button div div a span .elementor-button-icon svg {
  width: 2.5rem;
}
.brent-section-1-button div div a span .elementor-button-text {
  align-self: center;
  font-size: 1.1rem;
  font-weight: 600;
}
.brent-section-1-button.button-instagram div div a,
.brent-section-1-button.button-linkedin div div a {
  background-color: var(--white);
  color: var(--primary-color);
}
@media (max-width: 1200px) {
}
@media (max-width: 800px) {
}
@media (max-width: 400px) {
}

/*Brent Sections 2 and 3*/
.brent-section-2,
.brent-section-3 {
  background-color: var(--light-blue);
}
.brent-section-2 {
  font-family: "Poppins", sans-serif !important;
  color: var(--primary-color) !important;
}
.brent-section-3 .e-con-inner {
  padding: 0 !important;
  margin-right: 60px;
}
.brent-section-3-column-1,
.brent-section-3-column-2 {
  padding: 0 !important;
  gap: 0 !important;
}
.brent-section-3-column-1 {
  margin-bottom: 60px !important;
  width: 60% !important;
}
.brent-section-3-column-2 {
  width: 40% !important;
  justify-content: flex-end !important;
}
.brent-section-2-title div h2,
.brent-section-3-title div h2 {
  font-family: "Poppins", sans-serif !important;
  color: var(--primary-color) !important;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  margin-top: 50px;
}
.brent-section-3-title div h2 {
  margin-top: 70px;
}
.brent-section-2-text div p,
.brent-section-3-p div p,
.brent-section-3-span div p,
.brent-section-3-list div ul li {
  font-family: "Poppins", sans-serif !important;
  color: var(--primary-color) !important;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  margin: 0;
}
.brent-section-2-text div p {
  margin-top: 10px;
}
.brent-section-3-p div p {
  margin-top: 35px;
}
.brent-section-3-span div p {
  margin-top: 25px;
  font-weight: 800 !important;
  padding-right: 50px;
}
.brent-section-3-list div ul li {
  list-style-type: disc !important;
  margin-left: 30px;
}
.brent-section-3-list div ul li::marker {
  font-size: 1rem !important;
}
div.brent-section-3-img {
  margin-left: 30px;
}
.brent-section-3-img div img {
  width: 100%;
}
/* Footer Styles */
.site-footer {
  background-color: var(--primary-color);
  padding: 20px 0;
  color: #ffffff;
}
.footer-container {
  font-family: "Poppins", sans-serif !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5vw;
}
.footer-column-1 {
  width: 60%;
}
.footer-logo img {
  max-height: 50px;
  width: 15vw;
  height: auto;
  margin: 7vh 0 4vh 0;
}
.footer-subscribe p {
  margin: 0;
  font-size: 1.5em;
}
.footer-subscribe span.yellow-span {
  font-weight: 800;
  color: var(--orange-color);
  font-style: italic;
  letter-spacing: 0.1rem;
}
.footer-subscribe form {
  color: var(--body-color) !important;
  display: flex;
  margin-top: 10px;
}
.footer-subscribe input[type="email"] {
  padding: 20px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-family: "Poppins", sans-serif !important;
  font-size: 1rem;
  font-weight: 500;
}
.footer-subscribe input::placeholder {
  color: var(--body-color) !important;
}
.footer-subscribe button {
  padding: 10px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: var(--orange-color);
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary-color);
  cursor: pointer;
}
.footer-column-2 {
  display: flex;
  flex-direction: column; /* Ensure elements are stacked vertically */
  align-items: flex-end; /* Align items to the right */
}
.footer-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  padding-top: 0;
}
.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.footer-menu li {
  display: inline;
}
.footer-menu a {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0 !important;
}
.footer-contact-button {
  display: inline-block;
  background-color: var(--orange-color);
  font-family: "Poppins", sans-serif !important;
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 11px 22px;
  text-decoration: none;
  margin-top: 50px;
  margin-left: 0;
  margin-bottom: 40px;
  border-radius: 5px;
  align-self: flex-end;
}

@media (max-width: 1200px) {
  .footer-column-1 {
    width: 60%;
  }
  .footer-logo img {
    width: 70%;
  }
  .footer-subscribe input[type="email"] {
    width: 70%;
    font-size: 1rem;
  }
  .footer-column-2 {
    margin-left: 60px;
  }
  .footer-menu {
    justify-content: flex-end;
  }
}
@media (max-width: 800px) {
  .footer-container {
    flex-wrap: wrap;
  }
  .footer-column-1,
  .footer-column-2 {
    flex: 1 1 100%;
    margin: 0 auto;
  }
  .footer-column-1 {
    width: 100%;
  }
  .footer-logo img {
    width: 40%;
  }
  .footer-subscribe p {
    font-size: 1.5rem;
  }
  .footer-contact-button {
    align-self: center;
  }
  .footer-navigation {
    justify-content: center;
  }
  .footer-menu {
    justify-content: flex-start;
  }
}
@media (max-width: 400px) {
  .footer-column-1,
  .footer-column-2 {
    flex: 1 1 100%;
  }
  .footer-column-1 {
    width: 50%;
  }
  .footer-logo img {
    width: 70%;
  }
  .footer-navigation {
    margin-top: 10px;
    justify-content: flex-start;
  }
  .footer-contact-button {
    align-self: flex-start;
  }
}
