:root {
	--body-color: #6A8B99;
	--white: white;
	--primary-color: #1F2944;
	--orange-color: #F6A800;
	--light-blue: #D4E2F6;
}
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body.page {
	background-color: var(--body-color);
	color: var(--primary-color);
	font-family: "Poppins", sans-serif !important;
	font-weight: 400;
	font-kerning: none;
	line-height: 1.5;
	font-size: 14px;
}
body:not(.blog) #genesis-content p a, 
body:not(.blog) #genesis-content ul li a {
	color: var(--orange-color);
	text-decoration: underline;
}

a {
	text-decoration: none;
	transition: .1s linear;
}
a:focus, a:hover {
	color: #333;
	text-decoration: none;
}
p {
	margin: 0 0 28px;
	padding: 0;
	overflow-wrap: normal;
	word-break: normal;
}
ol, ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
	font-size: 1rem;
}
b, strong {
	font-weight: 700;
}